---
---

@import "{{ site.theme }}";

.header-level-1 .header-level-2 {
    font-size: 1.85em;
    border-bottom: .2em double #d3ccc1;
    color: #7c334f;
    text-align: center;
    font-style: normal;
    margin: 1.1em 0 .38em;
    line-height: 1.2;
    padding-bottom: 10px
  }


.header-level-2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

a#forkme_banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 138px;
  display: none;
  background: transparent url(../images/fork-sprite.png) 0 0 no-repeat;
  text-indent: -9000px;
  z-index: 3;
}

#food-choices {
  text-align: center;
}

#test {
  color: transparent;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
